h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  font-size: 10px; 
  font-family: 'Roboto', sans-serif/
}

html {
  background-color: #00539F;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

body {
color:black;
background-color:yellow;
background-image:url(Fond.jpg);
}

}


